[package]
name = "witchcraft-server"
version.workspace = true
edition = "2021"
license = "Apache-2.0"
description = "A highly opinionated embedded application server for RESTy APIs, compatible with the Witchcraft ecosystem"
repository = "https://github.com/palantir/witchcraft-rust-server"
readme = "../README.md"

[[package.metadata.sls.diagnostics]]
type = "diagnostic.types.v1"
docs = "All supported diagnostic types returnable from the server."

[[package.metadata.sls.diagnostics]]
type = "metric.names.v1"
docs = "All currently emitted metrics and their tags."

[[package.metadata.sls.diagnostics]]
type = "rust.heap.status.v1"
docs = "Statistics about the memory allocator, in jemalloc's default text format."

[[package.metadata.sls.diagnostics]]
type = "rust.thread.dump.v1"
docs = "A recording of running threads and their respective stacktraces."

[features]
default = ["jemalloc"]
jemalloc = ["tikv-jemalloc-ctl", "tikv-jemallocator"]

[dependencies]
addr2line = "0.20"
arc-swap = "1"
async-compression = { version = "0.3", features = ["tokio", "gzip"] }
async-trait = "0.1"
base64 = "0.21"
bytes = "1"
cachemap2 = "0.2"
conjure-error = "3"
conjure-http = "3"
conjure-object = "3"
conjure-runtime = "4"
conjure-serde = "3"
crash-handler = "0.6"
flate2 = "1"
foreign-types = "0.5"
futures-channel = "0.3"
futures-sink = "0.3"
futures-util = "0.3"
http = "0.2"
http-body = "0.4"
http-zipkin = "0.3"
hyper = { version = "0.14", features = ["http1", "http2", "server"] }
itertools = "0.10"
libc = "0.2"
log = "0.4"
minidump = "0.16"
minidump-processor = "0.16"
minidump-writer = "0.8"
minidumper = "0.8"
num_cpus = "1"
once_cell = "1"
openssl = "0.10"
parking_lot = "0.12"
pin-project = "1"
rand = "0.8"
refreshable = "1"
regex = "1"
rustc-demangle = "0.1"
serde = "1"
serde-encrypted-value = "0.4"
serde_json = "1"
serde_yaml = "0.9"
sequence_trie = "0.3"
socket2 = "0.5"
staged-builder = "0.1.1"
symbolic = { version = "12", features = ["cfi", "debuginfo"] }
sync_wrapper = "0.1"
tempfile = "3.5.0"
tikv-jemalloc-ctl = { version = "0.5", features = ["use_std"], optional = true }
tikv-jemallocator = { version = "0.5", features = [
    "unprefixed_malloc_on_supported_platforms",
    "background_threads",
    "profiling",
], optional = true }
tokio = { version = "1.27", features = [
    "fs",
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-openssl = "0.6"
tokio-util = "0.7"
tracing = { version = "0.1", features = ["log"] }
witchcraft-log = "3"
witchcraft-metrics = "1"
zipkin = "0.4"

witchcraft-server-config = { version = "3.5.0", path = "../witchcraft-server-config" }
witchcraft-server-macros = { version = "3.5.0", path = "../witchcraft-server-macros" }

[dev-dependencies]
tempfile = "3"
tokio = { version = "1", features = ["test-util"] }
