[package]
name = "witchcraft-server"
version = "0.1.0"
edition = "2021"

[features]
default = ["jemalloc"]
jemalloc = ["tikv-jemalloc-ctl", "tikv-jemallocator"]

[dependencies]
arc-swap = "1"
async-compression = { version = "0.3", features = ["tokio", "gzip"] }
bytes = "1"
conjure-error = "0.7"
conjure-object = "0.7"
conjure-runtime = "1.2"
conjure-serde = "0.7"
foreign-types = "0.5"
futures-sink = "0.3"
futures-util = "0.3"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14", features = ["http1", "http2", "server"] }
libc = "0.2"
log = "0.4"
num_cpus = "1"
openssl = "0.10"
parking_lot = "0.11"
pin-project = "1"
procinfo = "0.4"
rand = "0.8"
refreshable = "1"
regex = "1"
serde = "1"
serde-encrypted-value = "0.4"
serde_yaml = "0.8"
sequence_trie = "0.3"
socket2 = "0.4"
tikv-jemalloc-ctl = { version = "0.4", features = ["use_std"], optional = true }
tikv-jemallocator = { version = "0.4", features = [
    "unprefixed_malloc_on_supported_platforms",
    "background_threads",
    "profiling",
], optional = true }
tokio = { version = "1", features = [
    "fs",
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-openssl = "0.6"
tokio-util = "0.6"
witchcraft-log = "0.3"
witchcraft-metrics = "0.2"
zipkin = "0.4"

witchcraft-server-config = { path = "../witchcraft-server-config" }

[dev-dependencies]
tempfile = "3"
