[package]
name = "witchcraft-server"
version = "0.1.0"
edition = "2021"

[dependencies]
arc-swap = "1"
async-compression = { version = "0.3", features = ["tokio", "gzip"] }
bytes = "1"
conjure-error = "0.7"
conjure-object = "0.7"
conjure-runtime = "1.2"
conjure-serde = "0.7"
foreign-types = "0.5"
futures-sink = "0.3"
futures-util = "0.3"
libc = "0.2"
log = "0.4"
parking_lot = "0.11"
pin-project = "1"
rand = "0.8"
refreshable = "1"
regex = "1"
serde = "1"
serde-encrypted-value = "0.4"
serde_yaml = "0.8"
sequence_trie = "0.3"
tokio = { version = "1", features = [
    "fs",
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
witchcraft-log = "0.3"
witchcraft-metrics = "0.2"
zipkin = "0.4"

witchcraft-server-config = { path = "../witchcraft-server-config" }

[dev-dependencies]
tempfile = "3"
