[package]
name = "witchcraft-server"
version = "0.1.0"
edition = "2021"

[[package.metadata.sls.diagnostics]]
type = "diagnostic.types.v1"
docs = "All supported diagnostic types returnable from the server."

[[package.metadata.sls.diagnostics]]
type = "metric.names.v1"
docs = "All currently emitted metrics and their tags."

[[package.metadata.sls.diagnostics]]
type = "rust.heap.status.v1"
docs = "Statistics about the memory allocator, in jemalloc's default text format."

[[package.metadata.sls.diagnostics]]
type = "rust.thread.dump.v1"
docs = "A recording of running threads and their respective stacktraces."

[features]
default = ["jemalloc"]
jemalloc = ["tikv-jemalloc-ctl", "tikv-jemallocator"]

[dependencies]
arc-swap = "1"
async-compression = { version = "0.3", features = ["tokio", "gzip"] }
async-trait = "0.1"
base64 = "0.13"
bytes = "1"
conjure-error = "0.7"
conjure-http = "0.7"
conjure-object = "0.7"
conjure-runtime = "1.2"
conjure-serde = "0.7"
foreign-types = "0.5"
futures-channel = "0.3"
futures-sink = "0.3"
futures-util = "0.3"
http = "0.2"
http-body = "0.4"
http-zipkin = "0.3"
hyper = { version = "0.14", features = ["http1", "http2", "server"] }
itertools = "0.10"
libc = "0.2"
log = "0.4"
num_cpus = "1"
once_cell = "1"
openssl = "0.10"
parking_lot = "0.12"
pin-project = "1"
rand = "0.8"
refreshable = "1"
regex = "1"
serde = "1"
serde-encrypted-value = "0.4"
serde_json = "1"
serde_yaml = "0.8"
sequence_trie = "0.3"
socket2 = "0.4"
staged-builder = "0.1"
sync_wrapper = "0.1"
tikv-jemalloc-ctl = { version = "0.4", features = ["use_std"], optional = true }
tikv-jemallocator = { version = "0.4", features = [
    "unprefixed_malloc_on_supported_platforms",
    "background_threads",
    "profiling",
], optional = true }
tokio = { version = "1", features = [
    "fs",
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-openssl = "0.6"
tokio-util = { version = "0.7", features = ["codec"] }
witchcraft-log = "0.3"
witchcraft-metrics = "0.2"
zipkin = "0.4"

witchcraft-server-config = { path = "../witchcraft-server-config" }

[target.'cfg(target_os = "linux")'.dependencies]
procinfo = "0.4"
rstack-self = { version = "0.3", features = ["dw"], default-features = false }
rustc-demangle = "0.1"
unwind = "0.4"

[dev-dependencies]
flate2 = "1"
tempfile = "3"
tokio = { version = "1", features = ["test-util"] }
